input,
textarea {
  @apply font-hkregular text-secondary py-3 px-4 border border-grey-darker rounded w-full outline-none focus:shadow-outline focus:border-primary;
}

select {
  @apply font-hkregular text-secondary-lighter py-2 px-4 border border-grey-darker rounded w-full outline-none focus:shadow-outline focus:border-primary;
}

input[type='checkbox'],
input[type='radio'] {
  @apply border border-grey-darker focus:shadow-outline;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1536px;
  @apply px-2 lg:px-4;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23f35627 '%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-repeat: no-repeat;
  background-color: #fff;
  border-color: #cac6c4;
  border-width: 1px;
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
  &::-ms-expand {
    color: #f35627;
    border: none;
  }
  &:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px rgb(251, 109, 17, 0.5);
    box-shadow: 0 0 0 3px rgb(251, 109, 17, 0.5);
    border-color: #f35627;
  }
}

@media not print {
  .form-select::-ms-expand {
    display: none;
  }
}

@media print and (-ms-high-contrast: active),
  print and (-ms-high-contrast: none) {
  .form-select {
    padding-right: 0.75rem;
  }
}
